.toast-top-center {
    top: 15px !important;
}

.custom-success {
    margin: 0 auto;
    background-color: #28a745 !important;
    color: white !important;
}

.custom-error {
    margin: 0 auto;
    background-color: #dc3545 !important;
    color: white !important;
}